
<html lang="en">
  <head>
    
    
    

    <title>SengGo</title>

    
    
    

  </head>

  <body style="background: #f2f2f2;">

    <div class="banner"><div style="background:; width:100%; height: 100%;"></div></div>

    
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"><span class="primaryWord">Seng</span><span class="secondaryWord">Go</span></a>
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav">
            <li><a>Play</a></li>
            <li class="active"><a>About</a></li>
            <li><a>Rules</a></li>
            <li><a>Sign in</a></li>
            <li><a>Register</a></li>
          </ul>
        </div>
      </div>
    

    <div class="container">

      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          {{{error}}}
          {{{success}}}
          <h1>About Us</h1>
          <p class="lead"> Who we are, and what we do </p>
        </div>
      </div>
        
        <div class="row">
        <div class="col-md-8 col-md-offset-2">
            
            <h3> WHO ARE WE? </h3>
            <p> We are all students at the University of Victoria, within the Software Engineering and/or Computer Science Programs </p>
            <p> Team members: Justin Richard, Shreyas Devalapurkar, Wyll Brimacombe, William Grosset, Cailan St. Martin </p>
            
            <h3> WHY GO? </h3>
            <p> This collaborative project is a maojor component of the SENG 299 class </p>
            <p> We all enjoy playing Go, and wanted to create our own version of the game for the world to enjoy </p>
            
            </div>
            
        </div>

    </div>

    
    
    
    
    
  </body>
</html>
