
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SengGo</title>

    <!-- CSS Stylesheets -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>

  <body style="background: #f2f2f2;">

    <div class="banner"><div style="background:rgba(0,0,0,0.3); width:100%; height: 100%;"></div></div>

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><span class="primaryWord">Seng</span><span class="secondaryWord">Go</span></a>
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/rules">Rules</a></li>
            <li><a href="/login">Sign in</a></li>
            <li><a href="/register">Register</a></li>
          </ul>
        </div>
        {{{loginstatus}}}
      </div>
    </nav>

    <div class="container">

      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h1>Welcome to SengGo</h1>
          <p class="lead">Choose an option below to get started and playing!</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6 extra-pad" >

            <!-- Local Panel -->
            <div class="panel panel-default" style="height: 300px;" id="local">
              <div class="panel-body text-center">
                <h2>Local play</h2>
                <span class="glyphicon glyphicon-user" style="font-size:6em; color: #666; padding-top: 40px;"></span>
                <span class="glyphicon glyphicon-user" style="font-size:6em; color: #666; padding-top: 40px;"></span>
              </div>
            </div>

            <!-- Online panel -->
            <div class="panel panel-default" style="height: 300px; display: none;" id="ai">
              <div class="panel-body text-center">
                <h2>Player vs AI</h2>
                <span class="glyphicon glyphicon-user" style="font-size:8em; color: #666; padding-top: 40px;"></span>
                <h4 style="padding-top:10px;">{{{authreq}}}</h4>
              </div>
            </div>


          </div>
          <div class="col-md-6 extra-pad">

            <!-- Online panel -->
            <div class="panel panel-default" style="height: 300px;" id="online">
              <div class="panel-body text-center">
                <h2>Online play</h2>
                <span class="glyphicon glyphicon-cloud-upload" style="font-size:8em; color: #666; padding-top: 20px;" aria-hidden="true"></span>
              </div>
            </div>

          <!-- Online panel -->
          <div class="panel panel-default" style="height: 300px; display: none;" id="pvp">

            <div class="panel-body text-center">
              <h2>Player vs Player</h2>
              <span class="glyphicon glyphicon-user" style="font-size:6em; color: #666; padding-top: 40px;"></span>
              <span class="glyphicon glyphicon-cloud-upload" style="font-size:4em; color: #666; padding-top: 20px;" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-user" style="font-size:6em; color: #666; padding-top: 40px;"></span>
              <h4 style="padding-top:10px;">{{{authreq}}}</h4>
            </div>
          </div>

        </div>
      </div>

      <div class="text-center">
        <button id="prev" class="btn btn-default" style="display: none;">Previous step</button>
      </div>


    </div><!-- /.container -->


    <!-- JS Scripts (Added at end of page so page visually loads faster) -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Adds functionality for the interactive menu and hides later steps -->
    <script>
      $(document).ready(function(){

          // Handler for step 1
          $('#online').on('click', function(){
            $('#local, #online').hide(500);
            $('#ai, #pvp, #prev').show(500);
          });

          // Previous step button
          $('#prev').on('click', function(){
            $('#local, #online').show(500);
            $('#ai, #pvp, #prev').hide(500);
          });

      });

    </script>
  </body>
</html>
