<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SengGo</title>

    <!-- CSS Stylesheets -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>

  <body>

    <div class="banner"><div class="banner-inverse"></div></div>

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span class="primaryWord">Seng</span><span class="secondaryWord">Go</span></a>
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav">
            <li><a href="/">Play</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/rules">Rules</a></li>
            <li><a href="/login">Sign in</a></li>
            <li class="active"><a href="/register">Register</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <select id="themePicker" class="form-control">
      <option value="default">Default</option>
      <option value="night">Night</option>
      <option value="wooden">Wood</option>
      <option value="cottoncandy">Cotton Candy</option>
      <option value="christmas">Christmas</option>
      <option value="radical">Radical</option>
        <option value="nature">Nature</option> 
      <option value="work">Work Decoy</option>
    </select>

    <div class="container">

      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          {{{error}}}
          {{{success}}}
          <h1>Welcome to SengGo</h1>
          <p class="lead">Create an account below to start playing!</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <p>Text going here explaining details of the account.</p>
          <form action="/actionRegister" method="POST" id="register" name="register">
            <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>
          <div class="form-group">
            <label for="confirmpassword">Confirm password</label>
            <input type="password" class="form-control" id="confirmpassword" name="confirmpassword">
          </div>
          <button type="button" class="btn btn-primary btn-block" onclick="regformhash(this.form, this.form.username, this.form.password, this.form.confirmpassword)">Register</button>
          </form>
        </div>
      </div>
    </div><!-- /.container -->

    <!-- JS Scripts (Added at end of page so page visually loads faster) -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/forms.js"></script>
    <script src="js/sha512.js"></script>
    <script src="/js/themePicker.js"></script>  
  </body>
</html>
