@import url(http://fonts.googleapis.com/css?family=Press+Start+2P:400,300,700);

.container h1, h2, h3 {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 25px;
  line-height: 1.3;
}

#canvas{
    border:8px solid #333;
	border-radius: 7px;
    margin:0 auto;
}

#themePicker {
	position: fixed;
	right: 0;
	width: 150px;
	margin-top: -20px;
}

body {
	background: #f2f2f2;
}

.extra-pad {
  padding-left: 20px;
  padding-top: 40px;
}

.banner {
	background-image: url("/img/banner.png");
	background-repeat: repeat-x;
	height: 46px;
	border-top: 2px solid black;
}

.banner-overlay {
	background:rgba(0,0,0,0.3); 
	width:100%; 
	height: 100%;
}

.panel {
  transition-property: background;
  transition-duration: 300ms;
}

.panel:hover{
  background: #eee;
  cursor: pointer;
}

.navbar-brand {
	font-size: 2em;
}

.primaryWord {
	color: #fff;
}

.secondaryWord {
	color: #7cc3ff;
}

.loginstatus {
	color: #fff;
	font-size: 1em;
	margin-top: 12px;
}

.loginstatus a {
	color: #9d9d9d;
}

.modal-body-game {
    text-decoration: underline;
}

#headerz {
    line-height: 45px;
    text-decoration: underline;
}

#glyph1 {
    width: 100px;
    color: red;
    line-height: 45px;
    font-size: 80px;
}

#glyph2 {
    width: 100px;
    color: red;
    line-height: 45px;
    font-size: 80px;
}

/* Making squares clickable */ 
.click {
	z-index: 999;
}

.square {
	z-index: -999;
}

