/* ~~~ Changes to the gameboard ~~~ */

/* 7cc3ff = blue used on general screen */

/* Board color, only really seen around the edges unless transparent squares used */
.board {
	fill: rgb(138, 43, 226);
    opacity: 0.6;
}

/* Each little tile */
.square {
	stroke: #000;
	fill: #A2A2D0;
    opacity: 0.7;
}

/* Color of the black tokens (player 1) */
.black {
	stroke: black;
	fill: #682860;
}

/* Color of the white tokens (player 2) */
.white {
	stroke: #000;
	fill: #DCD0FF;
}

/* ~~~ Changes to the sites appearance ~~~ */

/* Background color of the site */
body  {
	background: url("/img/space.jpg");
}

/* changes the top tokens bar thing */
.banner-overlay {
    background: rgba(191, 0, 255,0.2);
}

/* Color of the big boxes on the home screen */
.panel {
	background: url("/img/space2.png");
}
.modal-content {
    background: url("/img/space3.jpg");
}

.panel:hover {
	background: url("/img/earth.jpg");
}
span.glyphicon  {
	color: #FAE7B5;
}

/* Color of form elements */
input, select {
	background: #fff;
}

/* Header color */
.navbar-inverse {
	background: url("/img/earthspace.jpg");
    border-color: #080808;
}

/* Text colors/sizes */
p, a, span, h1, h2, h3, h4, h5, h6, div {
	color:white;
}