/* ~~~ Changes to the gameboard ~~~ */

/* Board color, only really seen around the edges unless transparent squares used */
.board {
	fill: rgb(110, 0 ,0);
}

/* Each little tile */
.square {
	stroke: #FA8072;
	fill: #FA8072;
}

/* Color of the black tokens (player 1) */
.black {
	stroke: #FFC0CB;
	fill: #FFC0CB;
}

/* Color of the white tokens (player 2) */
.white {
	stroke: #000;
	fill: #DCDCDC;
}

/* ~~~ Changes to the sites appearance ~~~ */

/* Background color of the site */
body  {
	background: #DB7093;
}

/* changes the top tokens bar thing */
.banner-overlay {
    background: rgba(0,0,0,0.2);
}

/* Color of the big boxes on the home screen */
.panel {
	background: #F08080;
}
.modal-content {
    background: #FFB6C1;
}

.panel:hover {
	background: #FFB6C1;
}
span.glyphicon {
	color: #FFEFD5;
}

/* Color of form elements */
input, select {
	background: #DB7093;
}

/* Header color */
.navbar-inverse {
	background: #222;
    border-color: #080808;
}

/* Text colors/sizes */
p, a, span, h1, h2, h3, h4, h5, h6, div {
	color: #eee;
}