/* ~~~ Changes to the gameboard ~~~ */

/* 7cc3ff = blue used on general screen */

/* Board color, only really seen around the edges unless transparent squares used */
.board {
	fill: rgb(137, 207, 240);
}

/* Each little tile */
.square {
	stroke: #000;
	fill: #F0FFFF;
}

/* Color of the black tokens (player 1) */
.black {
	stroke: #ccc;
	fill: #000;
}

/* Color of the white tokens (player 2) */
.white {
	stroke: #000;
	fill: #fff;
}

/* ~~~ Changes to the sites appearance ~~~ */

/* Background color of the site */
body  {
	background: url("/img/winter.jpg");
}

/* changes the top tokens bar thing */
.banner-overlay {
    background: rgba(0,0,0,0.2);
}

/* Color of the big boxes on the home screen */
.panel {
	background: url("/img/winter2.jpg");
}
.modal-content {
    background: url("/img/purple-snow.jpg");
}

.panel:hover {
	background: url("/img/winter3.jpg");
}
span.glyphicon  {
	color: #F0F8FF;
}

/* Color of form elements */
input, select {
	background: #fff;
}

/* Header color */
.navbar-inverse {
	background: url("/img/purple-snow.jpg");
    border-color: #080808;
}

/* Text colors/sizes */
p, a, span, h1, h2, h3, h4, h5, h6, div {
	color:white;
}