/* ~~~ Changes to the gameboard ~~~ */

/* 7cc3ff = blue used on general screen */

/* Board color, only really seen around the edges unless transparent squares used */
.board {
	fill: rgb(121, 68, 59);
    opacity: 0.6;
}

/* Each little tile */
.square {
	stroke: #000;
	fill: #9F8170;
    opacity: 0.7;
}

/* Color of the black tokens (player 1) */
.black {
	stroke: black;
	fill: #65000B;
}

/* Color of the white tokens (player 2) */
.white {
	stroke: #000;
	fill: #BC987E;
}

/* ~~~ Changes to the sites appearance ~~~ */

/* Background color of the site */
body  {
	background: url("/img/medieval5.jpg");
}

/* changes the top tokens bar thing */
.banner-overlay {
    background: rgba(225, 169, 95,0.2);
}

/* Color of the big boxes on the home screen */
.panel {
	background: url("/img/medieval3.jpg");
}
.modal-content {
    background: url("/img/medieval2.jpg");
}

.panel:hover {
	background: url("/img/medieval4.jpg");
}
span.glyphicon  {
	color: #EFDECD;
}

/* Color of form elements */
input, select {
	background: #fff;
}

/* Header color */
.navbar-inverse {
	background: #9F8170;
    border-color: #080808;
}

/* Text colors/sizes */
p, a, span, h1, h2, h3, h4, h5, h6, div {
	color:ghostwhite;
}