/* ~~~ Changes to the gameboard ~~~ */

/* 7cc3ff = blue used on general screen */

/* Board color, only really seen around the edges unless transparent squares used */
.board {
	fill: rgb(215, 10, 83);
    opacity: 0.6;
}

/* Each little tile */
.square {
	stroke: #000;
	fill: #FBCCE7;
    opacity: 0.7;
}

/* Color of the black tokens (player 1) */
.black {
	stroke: black;
	/*fill: #D40000;*/
    fill: #B31B1B;
}

/* Color of the white tokens (player 2) */
.white {
	stroke: #000;
	fill: #F4C2C2;
}

/* ~~~ Changes to the sites appearance ~~~ */

/* Background color of the site */
body  {
	background: url("/img/love1.jpg");
}

/* changes the top tokens bar thing */
.banner-overlay {
    background: rgba(255, 0, 63,0.2);
}

/* Color of the big boxes on the home screen */
.panel {
	background: url("/img/roses.jpg");
}
.modal-content {
    background: url("/img/pinkrose.jpg");
}

.panel:hover {
	background: url("/img/love3.jpg");
}
span.glyphicon  {
	color: #FAE7B5;
}

/* Color of form elements */
input, select {
	background: #fff;
}

/* Header color */
.navbar-inverse {
	background: url("/img/roses2.jpg");
    border-color: black;
}

/* Text colors/sizes */
p, a, span, h1, h3, h5, h6, div {
	color:black;
}

h2, h4 {
    color: cornsilk;
}